.cabeçalho {
    background-color: linear #00A3FF #ffff;
    padding: 0px;
    margin: 0px;
    height: 250px;
    background: ;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:space-around;
}